<!doctype html>
<html>
<head>
  <title>Planest of the Universe</title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
</head>

<body>
    
  <header>
    <h1>Planets of the Universe</h1>
    {% include nav.html %}
  </header>
  
  <footer>
    &copy; Rejhan Ymeri - 2016
    {% include nav.html %}
  </footer>
    
  {{content}}

</body>
</html>
